# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Ansgar Burchardt <ansgar@cpan.org> <ansgar@43-1.org>
Avar Arnfjord Bjarmason <avar@cpan.org> <avarab@gmail.com>
Christopher J. Madsen <cjm@cpan.org> <github@cjmweb.net>
Christopher J. Madsen <cjm@cpan.org> <perl@cjmweb.net>
Cory G Watson <gphat@cpan.org> <gphat@onemogin.com>
Damyan Ivanov <dam@cpan.org> <dmn@debian.org>
Eric Wilhelm <ewilhelm@cpan.org>
Gregor Hermann <gregoa@debian.org>
Karen Etheridge <ether@cpan.org>
Ken Williams <kwilliams@cpan.org>
Kenichi Ishigaki <ishigaki@cpan.org>
Lars Dieckow <daxim@cpan.org>
Leon Timmermans <leont@cpan.org> <fawaka@gmail.com>
Mark Fowler <markf@cpan.org> <mark@twoshortplanks.com>
Michael G. Schwern <mschwern@cpan.org> <schwern@pobox.com>
Olaf Alders <olaf@wundersolutions.com>
Olivier Mengué <dolmen@cpan.org>
Randy Sims <randys@thepierianspring.org>
Ricardo Signes <rjbs@cpan.org>
